.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background: rgba(206, 226, 231, 0.815);
}